html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  @extend %custom-scroll;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;

  @include media-tablet {
    padding: 0 10px;
  }

  @include media-landscape {
    padding: 0 10px;
  }
}

.main-bg {
  background-repeat: no-repeat;
  background-image: url('./img/bg/test-bg-3.jpg');
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0, 0.7);
  transition:  background-color 1s ease;

    &_inactive {
      background-color: rgba(8, 8, 8, 0.95);     
    }
}