// Width
$content-width: 1197px;
$tablet-middle-width: 992px;
$tablet-width: 768px;
$mobile-big-width: 480px;
$mobile-small-width: 320px;
$ladscape-width: 700px;

// Colors
$grey: rgba(174, 181, 185, 0.5);
$white: rgb(214, 209, 209);